!.gitignore

.git
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target
out
build

# .gitignore for intellij
.idea
*.iml
*.ipr
*.iws

# ignore eclipse files
.project
.classpath
.settings
.metadata
*.launch
ivy*

# .gitignore for windows
Thumbs.db
ehthumbs.db
Desktop.ini